<!doctype html>
<html lang="eng">
  <head>
    <title>Inteyvat</title>
  </head>
  <body style="background-color: darkslategray;">
    <div id="pixi-content"><canvas id="pixi-hex-grid" /></div>
    <br>
    <div>moves: <span id="moves">0</span></div>
  </body>
</html>