<!doctype html>
<html lang="eng">
  <head>
    <title>Inteyvat</title>
    <style type="text/css">
      @font-face { font-family: "ff6"; src: url("ff6.woff2") format("woff2");  }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
    <script> WebFont.load({ custom: { families: ["ff6"] } }); </script>
  </head>
  <body style="background-color: darkslategray;">
    <div id="pixi-content"><canvas id="pixi-hex-grid" /></div>
    <br>
    <div>moves: <span id="moves">0</span></div>
  </body>
</html>